<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom-style: solid; border-color:#a30a16;border-width: 4px">
  <a class="navbar-brand" routerLink='/inicio'>Informatica UNLP</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link">Carteleras de materias</a>
      <a class="nav-item nav-link">Carteleras administrativas</a>
      <a class="nav-item nav-link">Administrar usuarios</a>
      <a class="nav-item nav-link">Administrar carteleras</a>
      <a class="nav-item nav-link" routerLink='/nuevaCartelera'>Nueva cartelera</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
